
.main__menu .main__menu-link .nav__link:hover .sub__menu{
    display: block;   
}
.main__menu .main__menu-link .sub__menu a:hover{
    color: #128C76;
}
.main__menu .main__menu-link .nav__link > a:hover{
    color: #128C76;
}
.button__menu .btn__login:hover{
    transition: 0.3s all ease;
    background-color: rgba(255, 255, 255, 0) ;
    color: #128C76;
    cursor: pointer;
}
.button__menu .btn__login:hover:before{
    transition: 0.3s all ease;
    left: 0;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.button__menu .btn__register-outline:hover{
    color: #FFF;
    cursor: pointer;
}
.button__menu .btn__register-outline:hover:before{
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index:-1;
}
.hero .hero__button .hero__button-get:hover{
    transition: 0.3s all ease;
    transform: translateY(-5px);
}
.offering .offering__button-view:hover{
    color: #FFF;
    cursor: pointer;
}
.offering .offering__button-view:hover:before{
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
.apply .apply__content .apply__content-button:hover{
    transition: 0.3s all ease;
    transform: translateY(-5px);
}
.offering .offering__card:hover .card__overlay{ 
    transition: 0.3s all ease;
    opacity: 1;
}
.offering .card__overlay .card__overlay-button button:hover{
    transition: 0.3s all ease;
    font-size: 20px;
}
.footer .footer__content  .footer__content-menu a:hover:before{
    width: 100%;
}