
/* screen 1024 */
@media only screen and (max-width: 1199px) {
    /* Mobile */
    .main__menu-btnmobile{
        display: block;
    }
    .main__menu{
        display: none;
    }
    /* End mobile */
    .hero{
        height: 50vh;
    }
    .hero .hero__text h1 {
        font-size: 40px;
        line-height: 52px;
        color: #FFFFFF;
        margin-bottom: 0;
    }
    .hero .hero__text p {
        font-size: 20px;
        line-height: 27px;
        margin: 24px 0px;   
    }
    .circle {
        top: 120px;
        left: 10px;
        height: 300px;
        width: 300px;
    }
    .hero .hero__button .hero__button-get {
        margin: 20px 0;
        padding: 18px 50px;
    }
    .hero .hero__content {
        margin: 125px 0;
    }
    .offering {
        margin: 64px 0;
    }
    .offering .offering__title .offering__title-large {
        font-size: 36px;
        line-height: 30px;
    }

    .offering .offering__title .offering__title-paragraph {
        font-size: 18px;
        line-height: 26px;
        margin: 16px 0px 60px;
    }
    .offering .card__details-info .card__details-title{
        font-size: 14px;
    }
    .offering .card__details-info .card__details-content{
        font-size: 14px;
    }
    .offering .card__overlay .card__details-info{
        margin: 0;
    }
    .offering .card__overlay .card__details{
        margin: 28px 0;
    }
    .offering .card__overlay .card__overlay-button button{
        padding: 16px 40px;
    }
    .offering .card__overlay .card-body__p{
        margin: 8px 0;
    }
    .offering .offering__button-view {
        margin: 18px 0 0 0;
    }
    .investor{
        height: 43vh;
        padding: 80px 0;
    }
    .investor .investor__title h2 {
        font-size: 36px;
        line-height: 43px;
        margin: 10px 0px;
    }
    .investor .investor__title h4{
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin: 10px 0;
    }
    .investor .investor__title p{
        width: 100%;
        margin: 10px 0;
    }
    .investor .investor__element .investor__element-item1{
        width: 50%;
    }
    .apply {
        padding: 80px 0;
    }
    .apply .apply__content .apply__content-title h2{
        font-size: 36px;
        line-height: 43px;
        margin: 10px 0px;
    }
    .apply .apply__content .apply__content-title h4{
        font-size: 16px;
        line-height: 24px;
        margin: 10px 0;
    }
    .apply .apply__content .apply__content-button{
        margin: 20px 0;
        padding: 18px 50px;
    }
    .apply .apply__element {
        z-index: -1;
    }
    .footer .footer__subscribe .form__input .form{
        width: 300px;
    }
}
/* screen 990 */
@media only screen and (max-width: 990px){
    .hero {
        height: 60vh;
    }
    .investor {
        height: 50vh;
    }
    .offering .offering__card .offering__badge {
        top: 12px;
        left: 12px;
    }
    .offering .offering__card .offering__badge .offering__badge-item {
        font-size: 10px;
    }
    .progress__p .progress__p-price {
        font-size: 12px;
        line-height: 19px;
    }
    .offering .progress__p .progress__p-raise {
        font-size: 12px;
        line-height: 19px;
    }
}
/* screen 768 */
@media only screen and (max-width: 768px){
    
    .hero{
        height: 60vh;
    }
    .hero .hero__text h1 {
        font-size: 40px;
        line-height: 52px;
        color: #FFFFFF;
        margin-bottom: 0;
    }
    .hero .hero__text p {
        font-size: 20px;
        line-height: 27px;
        margin: 16px 0px;   
    }
    .circle {
        top: 120px;
        left: 10px;
        height: 300px;
        width: 300px;
    }
    .hero .hero__button .hero__button-get {
        margin: 12px 0;
        padding: 18px 50px;
    }
    .hero .hero__content {
        margin: 125px 0;
    }
    .offering {
        margin: 36px 0;
    }
    .offering  .card__overlay .progress__p .progress__p-price {
        font-size: 13px;
        line-height: 12px;
        margin: 2px 3px 2px 0;
    }
    .offering .card__overlay .progress__p .progress__p-raise {
        font-size: 11px;
        line-height: 12px;
        margin: 2px 0;
    }
    .offering .card__overlay .offering__card-body .progress__p .card-body__p {
        font-size: 14px;
        line-height: 18px;
    }
    .offering .card__overlay hr{
        margin: 8px 0;
    }
    .offering .card__overlay .card__details-info{
        flex-direction: column;
    }
    .offering .card__overlay .card__details{
        margin: 15px 0;
        
    }
    .offering .card__overlay .offering__card-body .card-body__p{
        font-size: 13px;
        line-height: 18px;
    }
    .offering .card__overlay  .offering__card-body{
        margin: 12px;
    }
    .offering .card__overlay.offering__card-body .card-body__title-large {
        font-size: 19px;
        line-height: 29px;
    }
    .offering .card__overlay .card__overlay-button button {
        padding: 10px 40px;
    }
    /* .offering .offering__element{
        display: none;
    } */
    .offering .offering__card .offering__badge .offering__badge-item {
        font-size: 9px;
    }
    .offering .offering__card .offering__badge {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    .offering .offering__card-body {
        margin: 16px;
    }
    .offering .offering__card-body .card-body__title-large {
        font-size: 18px;
        line-height: 26px;
    }
    .offering .offering__card-body .card-body__title-small{
        margin: 2px 0;
    }
    .offering .offering__card-body .card-body__p {
        font-size: 14px;
        line-height: 22px;
        margin: 6px 0;
    }
    .progress__p .progress__p-price {
        font-size: 14px;
        line-height: 24px;
    }
    .progress__p .progress__p-raise {
        font-size: 13px;
    }
    .offering .offering__title .offering__title-large {
        font-size: 25px;
        line-height: 26px;
        margin: 8px 0px;
    }
    .offering .offering__title .offering__title-paragraph {
        font-size: 16px;
        line-height: 22px;
        margin: 8px 0px 26px;
    }
    .offering .offering__button-view {
        padding: 16px 40px;
    }
    .investor {
        height: 40vh;
        padding: 60px 0;
    }
    .investor .investor__title h2{
        font-size: 25px;
        line-height: 26px;
        margin: 8px 0px;
    }
    .investor .investor__title h4{
        font-size: 16px;
        line-height: 22px;
        margin: 8px 0px 26px;
    }
    .apply .apply__content .apply__content-title h2{
        font-size: 25px;
        line-height: 26px;
        margin: 8px 0px;
    }
    .apply .apply__content .apply__content-title h4{
        font-size: 16px;
        line-height: 22px;
        margin: 8px 0px 26px;
    }   
}
/* 600px */
@media only screen and (max-width: 600px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
    nav.container{
        margin: 0;
    }
    .investor {
        height: 80vh;
    }
    .button__back .back {
        right: 30px;
    }
    .footer .footer__subscribe .form__input .form {
        width: 220px;
    }
    .footer .footer__content-brand .copyright {
        margin: 16px 0;
    }
}
/* 375px */
@media only screen and (max-width: 375px){
    nav .container{
        padding: 0;
    }
    .hero .hero__text h1 {
        font-size: 27px;
        line-height: 37px;
    }
    .hero .hero__text p{
        max-width: 100%;
    }
    .investor {
        height: 70vh;
    }
    .investor .investor__title h2{
        width: 100%;
    }
    .investor .investor__image img {
        width: 90%;
    }
    .investor .investor__title h4 {
        margin: 18px 0px 18px;
    }
    .apply {
        padding: 60px 0;
    }
    .apply .apply__element{
        display: none;
    }
    .footer .footer__subscribe{
        flex-direction:column;
        align-items: flex-start;
    }
    .footer .footer__subscribe .footer__subscribe-social{
        margin: 16px 0;
    }
    .footer .footer__subscribe img{
        margin: 0 8px 0 0;
    }
}
/* 414px */
@media only screen and (max-width: 414px){
    .hero .hero__text h1 {
        font-size: 27px;
        line-height: 37px;
    }
    .hero .hero__text p{
        max-width: 100%;
    }
    .investor {
        height: 70vh;
    }
    .investor .investor__title h2{
        width: 100%;
    }
    .investor .investor__image img {
        width: 90%;
    }
    .investor .investor__title h4 {
        margin: 18px 0px 18px;
    }
    .apply {
        padding: 60px 0;
    }
    .apply .apply__element{
        display: none;
    }
    .footer .footer__subscribe{
        flex-direction:column;
        align-items: flex-start;
    }
    .footer .footer__subscribe .footer__subscribe-social{
        margin: 16px 0;
    }
    .footer .footer__subscribe img{
        margin: 0 8px 0 0;
    }
}
/* 375px */
@media only screen and (max-width: 375px){
    .hero .hero__text h1 {
        font-size: 27px;
        line-height: 37px;
    }
    .hero{
        height: 70vh;
    }
    .hero .hero__text p{
        max-width: 100%;
    }
    .investor {
        height: 85vh;
    }
    .investor .investor__title h2{
        width: 100%;
    }
    .investor .investor__image img {
        width: 90%;
    }
    .investor .investor__title h4 {
        margin: 18px 0px 18px;
    }
    .apply {
        padding: 60px 0;
    }
    .apply .apply__element{
        display: none;
    }
    .footer .footer__subscribe{
        flex-direction:column;
        align-items: flex-start;
    }
    .footer .footer__subscribe .footer__subscribe-social{
        margin: 16px 0;
    }
    .footer .footer__subscribe img{
        margin: 0 8px 0 0;
    }
}
/* 320px */
@media only screen and (max-width: 320px){
    .hero .hero__text h1 {
        font-size: 27px;
        line-height: 37px;
    }
    .hero{
        height: 80vh;
    }
    .hero .hero__text p{
        max-width: 100%;
    }
    .investor {
        height: 106vh;
    }
    .investor .investor__title h2{
        width: 100%;
    }
    .investor .investor__image img {
        width: 90%;
    }
    .investor .investor__title h4 {
        margin: 18px 0px 18px;
    }
    .apply {
        padding: 60px 0;
    }
    .apply .apply__element{
        display: none;
    }
    .footer .footer__subscribe{
        flex-direction:column;
        align-items: flex-start;
    }
    .footer .footer__subscribe .footer__subscribe-social{
        margin: 16px 0;
    }
    .footer .footer__subscribe img{
        margin: 0 8px 0 0;
    }
    .footer .footer__subscribe .form__input .send img {
        padding: 10px;
}
